.leave-card{
    width: 150px;
    height: 150px;
    border:0px solid lightgray;
    border-radius: 50%;
}
.divid{
    margin-top: 65px;
    font-size: 24px;    
}
.divid span{
    font-size: 15px;
}

.dashed-style{
    border-style: dashed;
    border-width: 1px;
}

.la-btn{
    background-color: #0E77C0;
}
.la-btn:hover{
    background-color: #7BD433 !important;
}

