.leave-card{
    width: 150px;
    height: 150px;
    border:0px solid lightgray;
    border-radius: 50%;
}
.divid{
    margin-top: 65px;
    font-size: 24px;    
}
.divid span{
    font-size: 15px;
}

.dashed-style{
    border-style: dashed;
    border-width: 1px;
}

.la-btn{
    background-color: #0E77C0;
}
.la-btn:hover{
    background-color: #7BD433 !important;
}

.bg-grad {
	background: linear-gradient(-45deg, #0E77C0, #7BD433, #027BFF, #A7DAFD);
	background-size: 400% 400%;
	animation: gradient 14s ease infinite;
} 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.user-tab-list{
    color: white;
    text-shadow: 9px 9px 5px black, 0 0 25px black, 0 0 5px black;
}


/* .leave-card{
    transform: rotate(0);
    transition: transform 0.4s ease;  
  }
  
  .leave-card:hover{
      transform: rotate(360deg);
  } */