.mainpage{
    background-color: lightgrey;
}
.wrapper{
    width: 100%;
}
.page-body-wrapper{
    min-height: calc(100vh- 70px);
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
}
.main-panel{
    /* width: calc(100%-170px); */
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    transition: width 0.25s ease, margin 0.25s ease;
}
.content-wrapper{
    background-color: #F2F0EF;
    width: 100%;
    padding: 2.50rem 2.25rem;
}
@media screen and (max-width:786px) {
    .main-panel{
        position: absolute;
    }
}