/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.login-btn {
  background-color: #32CD32;
  color: white;
}

.inputbox {
  outline: none;
}

.inputbox::placeholder {
  font-size: 17px;
  font-weight: 700;
}

/* 
body {
  background: #eee;
} */

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* 
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
} */

.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 44%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 49%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

/*navbar dropdown*/

.navbar-expand-md .navbar-nav .dropdown-menu {
  left: -110%;
}
.navbarclass{
background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
}

a#navbarScrollingDropdown, .bell-icn, .notifi-icn{
  color: #fff;
}

.msg-badge{
  background-color: #7460ee;
  color: #fff;
  font-size: 12px !important;
  left: 44px;
}
.admin-img{
  width: 40px;
}
.navsearch{
  background-color: #018ae3 !important;
  color: #fff !important;
}
.navsearch::placeholder{
  color: #bbdcf6 !important;
}
.login{
  top:200px;
  bottom:200px;
}
.log-button{
  background-color: #018ae3;
  color:#FFFFFF ;
}
.log-button:hover{
  background-color: #7BD433;
  color: #FFFFFF;
}
.log-input{
  background-color: #f3f2f6;
}
.mailinput{
  left: 10px;
  top: 12px;
}
.mailinput1{
  right: 10px;
  top: 12px;
}
.passshowcon{
  width: 17px;
}
.passcon{
  width: 13px;
}
.mailcon{
  width: 15px;
}

